In [26]:
#ESERCITAZIONE W10D4 - Verrecchia Isabella

In [1]:
!pip install pymysql

import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(dotenv_path="cred.env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print(connection_string)

db_engine = sqlalchemy.create_engine(connection_string)

Requirement already satisfied: pymysql in c:\users\isabella\anaconda3\lib\site-packages (1.1.1)
mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [2]:
#ESERCIZIO 1: Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo quanto segue:


query = "SELECT * FROM dimproduct"
dimproduct = pd.read_sql(query, db_engine)

#dimproduct
#Quanti dati ci sono in totale?
print(dimproduct.shape)
#Quali sono i metadati?
print(dimproduct.info())
#Stampiamo il primo elemento
print(dimproduct.head(1))
#Stampiamo l'ultimo elemento
print(dimproduct.tail(1))
dimproduct.iloc[0] #altro modo!
#Riusciamo a stampare cinque elementi a caso?
dimproduct.sample(5)
#Quali sono i colori disponibili?
dimproduct["Color"].unique()

(606, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB
None
   ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0           1             AR-5381                    NaN

  WeightUnitMeasureCode SizeUnitMeasureCode EnglishProductName  \
0                  None                None    Adjustable Race

  SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
0                                                NaN                  0  ...

  ChineseDescription  ArabicDescription  HebrewDescription  ThaiDescription  \
0               None               None               None             None

  GermanDescription JapaneseDescription  TurkishDescription  StartDate  \
0              None                None                None 2003-07-01

  EndDate   Status
0     NaT  Current

[1 rows x 36 columns]
     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode  EnglishProductName  \
605                    LB                  CM  Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
605  Current

[1 rows x 36 columns]

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [3]:
#ESERCIZIO 2:
#In media quanto pesano i prodotti (per questo esercizio, ignoriamo l'unità di misura, ma usiamo solo i valori della colonna relativa)?
dimproduct["Weight"].mean()
#Quanto pesa il più leggero?
dimproduct["Weight"].min()
#Quanto pesa il più pesante?
dimproduct["Weight"].max()

#Quanti prodotti pesano più di 100?
filtro= dimproduct["Weight"]>100
dimproduct.loc[filtro, "Weight"].shape #aggiungendo shape mi dice quanti sono (senza mi restituisce l'elenco di tutti i prodotti con relativi pesi >100)

#Quanto costano in media i prodotti (colonna DealerPrice)?
dimproduct["DealerPrice"].mean()

#Quali sono i quartili dei prezzi?
dimproduct["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [4]:
#ESERCIZIO 3:
#Qual è il prezzo medio per i prodotti di colore blu?
filtro_blu = dimproduct["Color"] == "Blue"
dimproduct.loc[filtro_blu, "DealerPrice"].mean()

#Qual è il prezzo medio per i prodotti di colore rosso o nero?
filtro_rosso = dimproduct["Color"] =="Red"
filtro_nero = dimproduct["Color"] =="Black"
filtro = filtro_rosso | filtro_nero
dimproduct.loc[filtro, "DealerPrice"].mean()

550.2481873684211

In [9]:
#Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
filtro_taglia = dimproduct["Size"] == "42"
filtro_peso = dimproduct["Weight"] > 10
filtro = filtro_peso & filtro_taglia
dimproduct.loc[filtro, "DealerPrice"].max()

2039.994

In [12]:
#Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
filtro_taglia = dimproduct["Size"] == "42"
filtro_peso = dimproduct["Weight"] > 10
filtro_colore = dimproduct["Color"] == "Silver"
filtro = filtro_taglia & filtro_peso & filtro_colore
dimproduct.loc[filtro,["EnglishProductName", "StandardCost"]]  #ATTENZIONE! SE DEVO SELEZIONARE PIU DI UNA COLONNA METTERLE IN UNA LISTA!!!!!

            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22

In [14]:
#Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: quali sono le differenze? 
#C'è un pattern? C'è qualche elemento che non lo segue?

dimproduct.tail(20).loc[:,["StandardCost","DealerPrice"]]  #così facendo gli dico di prendere tutte le righe (:) (tra e 20 selezionate)e poi solo le colonne specificate
#si osserva che, per quasi tutte le righe selezionate, il costo di vendita è maggiore del costo di produzione (come ci si aspetta)
#solo le ultime 3 hanno il costro di vendita inferiore

     StandardCost  DealerPrice
586        419.78      461.694
587        419.78      461.694
588        419.78      461.694
589        419.78      461.694
590        308.22      338.994
591        308.22      338.994
592        308.22      338.994
593        308.22      338.994
594        308.22      338.994
595        294.58      323.994
596        294.58      323.994
597        294.58      323.994
598        294.58      323.994
599        294.58      323.994
600         23.97       32.394
601         44.95       60.744
602         53.94       72.894
603        343.65      323.994
604        343.65      323.994
605        343.65      323.994

In [21]:
#ESERCIZIO 4: AMAZON
#Tra i beginner datasets scaricabili selezioniamo amazon.csv, un dataset contenente una serie di recensioni su Amazon.
amazon = pd.read_csv("datasets/beginner_datasets/amazon.csv")
amazon

#Valutiamo la dimensione del dataset
amazon.shape

#Visualizziamo dieci righe a caso
amazon.sample(10)

#Osserviamo quali sono i nomi di colonna;
amazon.columns

#Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?
amazon["Positive"].value_counts()
#No, non sono bilanciati. le recensioni possitive sono circa il doppio di quelle negative!

Positive
1    15233
0     4767
Name: count, dtype: int64

In [42]:
#ESERCIZIO 5: DIABETE
#Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti.
diabete = pd.read_csv("datasets/beginner_datasets/diabetes.csv")
diabete

#Osserviamone le dimensioni e un'anteprima di cinque righe
diabete.shape
diabete.size
diabete.sample(5)

#Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne
diabete.info()

#Stampiamo dei descrittori statistici del dataset;
diabete.describe()

#Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50;
fascia1 = (diabete["Age (years)"]>=20) & (diabete["Age (years)"]<=29)
diabete.loc[fascia1]
fascia2 = (diabete["Age (years)"]>=30) & (diabete["Age (years)"]<=39)
diabete.loc[fascia2]
fascia3 = (diabete["Age (years)"]>=40) & (diabete["Age (years)"]<=50)
diabete.loc[fascia3]

#Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

d1 = diabete.loc[fascia1,"Diastolic blood pressure (mm Hg)"].mean()
d2 = diabete.loc[fascia2,"Diastolic blood pressure (mm Hg)"].mean()
d3 = diabete.loc[fascia3,"Diastolic blood pressure (mm Hg)"].mean()
print("pressione sanguigna 20-29 è:", d1)
print("pressione sanguigna 30-39 è:", d2)
print("pressione sanguigna 40-50 è:", d3)  #come ci si aspetta la pressione sanguigna è più alta per la fascia di età più alta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
pressione sanguigna 20-29 è: 65.34848484848484
pressione sanguigna 30-39 è: 69.66666666666667
pressione sanguigna 40-50 è: 74.21428571428571

In [59]:
#ESERCIZIO 6: ASSICURAZIONI
#Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, 
#rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.

ass = pd.read_csv("datasets/beginner_datasets/insurance.csv")

#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
ass.shape
ass.columns
ass

#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
#uso il group by        (charges=spese sanitarie)
ass.groupby("region")["charges"].mean()  #no, rispetto alle regioni, non ci sono differenze significative

#E rispetto a smoker? E a sex?
ass.groupby("smoker")["charges"].mean() #rispetto a smoker si nota una differenza notevole tra fumatori e non (4 volte di più per i fumatori)
ass.groupby("sex")["charges"].mean()  #rispett al sesso non ci sono differenze significative

#Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
ass["bmi"].describe()
print(ass.groupby("bmi")["charges"].agg(["min","max","mean"]).quantile(0.25))
print(ass.groupby("bmi")["charges"].agg(["min","max","mean"]).quantile(0.50))
print(ass.groupby("bmi")["charges"].agg(["min","max","mean"]).quantile(0.75))
#altro modo (con describe)
ass.groupby("bmi")["charges"].describe()

min     2670.472700
max     8602.074500
mean    6914.551588
Name: 0.25, dtype: float64
min      5419.86480
max     14004.17790
mean    11088.63995
Name: 0.5, dtype: float64
min     10582.952325
max     27841.865720
mean    16607.582215
Name: 0.75, dtype: float64

,count,mean,std,min,25%,50%,75%,max
bmi,,,,,,,,
15.960,1.0,1694.796400,NaN,1694.79640,1694.79640,1694.79640,1694.79640,1694.79640
16.815,2.0,4904.000350,2455.844784,3167.45585,4035.72810,4904.00035,5772.27260,6640.54485
17.195,1.0,14455.644050,NaN,14455.64405,14455.64405,14455.64405,14455.64405,14455.64405
17.290,3.0,7813.353433,4619.986089,3732.62510,5305.30260,6877.98010,9853.71760,12829.45510
17.385,1.0,2775.192150,NaN,2775.19215,2775.19215,2775.19215,2775.19215,2775.19215
...,...,...,...,...,...,...,...,...
48.070,1.0,9432.925300,NaN,9432.92530,9432.92530,9432.92530,9432.92530,9432.92530
49.060,1.0,11381.325400,NaN,11381.32540,11381.32540,11381.32540,11381.32540,11381.32540
50.380,1.0,2438.055200,NaN,2438.05520,2438.05520,2438.05520,2438.05520,2438.05520
52.580,1.0,44501.398200,NaN,44501.39820,44501.39820,44501.39820,44501.39820,44501.39820
53.130,1.0,1163.462700,NaN,1163.46270,1163.46270,1163.46270,1163.46270,1163.46270

In [79]:
#ESERCIZIO 7: POKEMON
#Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, 
#valori di attacco/difesa/eccetera, e se sono o meno leggendari.

pokemon = pd.read_csv("datasets/beginner_datasets/pokemon.csv")

#Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
pokemon
pokemon.shape
pokemon.columns

#È verosimile che la prima colonna dovrebbe essere un indice?
pokemon  #si perchè sembra un numero progressivo in base al tipo di pokemon

#Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 
# no non combaciano (alcuni si ripetono perchè rappresentano le evoluzioni dello stesso pokemon)

#Se no, settare la prima colonna come indice.
pokemon = pd.read_csv("datasets/beginner_datasets/pokemon.csv", index_col=0)
pokemon

#Quali sono i Pokémon leggendari?
filtro1 = pokemon["Legendary"] == True
pokemon.loc[filtro1, "Name"]

#E quali sono i leggendari di tipo 1 Grass?
filtro2 = pokemon["Type 1"] =="Grass"
filtro = filtro1 & filtro2
pokemon.loc[filtro, "Name"]

#E leggendari di tipo 1 Ice o Fire?
filtro3 = pokemon["Type 1"] =="Ice"
filtro4 = pokemon["Type 1"] =="Fire"
filtro = filtro1 & (filtro3 |filtro4)
pokemon.loc[filtro, "Name"]

#Trasformiamo la colonna Name nell'indice
pokemon2 = pokemon.set_index("Name")

#Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
filtro_gen = pokemon["Generation"] == 1
filtro_att = pokemon["Attack"] > 50
filtro_hp = pokemon["HP"] < 60
filtro = filtro_gen & filtro_att & filtro_hp
pokemon.loc[filtro, "Name"]

#
4      Charmander
5      Charmeleon
8       Wartortle
19        Rattata
20       Raticate
21        Spearow
23          Ekans
25        Pikachu
27      Sandshrew
32       Nidoran♂
46          Paras
50        Diglett
51        Dugtrio
54        Psyduck
56         Mankey
58      Growlithe
69     Bellsprout
74        Geodude
75       Graveler
77         Ponyta
82       Magneton
83     Farfetch'd
84          Doduo
90       Shellder
91       Cloyster
98         Krabby
99        Kingler
106     Hitmonlee
107    Hitmonchan
109       Koffing
117        Seadra
118       Goldeen
133         Eevee
140        Kabuto
147       Dratini
Name: Name, dtype: object

In [68]:
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True